.container h1 {
    color: red;
  }
  .container p {
    font-size: 1.5rem;
  }
  header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav-link {
    flex: 1;
    text-align: center;
  }
 
  .lead {
    text-align: center;
    font-weight: bold;
  }
  img {
    width: 300px;
    float: left;
  }

h3 {
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación al centro */
  /* Otros estilos que desees aplicar */
}
/* Estilo para h3 */
